<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.0/firebase-auth.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
</head>
<body>
    {% if 'current_user_uid' in session %}
    <div class="hero-head">
        <div class="columns is-centered">
            <div class="column">
                <nav class="navbar" role="navigation" aria-label="main navigation">
                    <div id="navbarBasic" class="navbar-menu">
                        <div class="navbar-start">
                            <div class="navbar-item">
                                <a class="button is-danger is-block is-rounded" onclick="signOut()">
                                    <p><i class="fab fa-google"></i>&nbsp;&nbsp;Sign Out</p>
                                </a>
                            </div>
                        </div>
                        <div class="navbar-item">
                            <h1 class="is-large"><b>Examen</b></h1>
                        </div>
                        <div class="navbar-end">
                            <div class="navbar-item">
                                <a class="button is-rounded has-text-grey" href="/home">Home</a>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="hero is-fullheight is-primary">
        <div class="hero-head">
            <div class="block"></div>
            <div class="block">
                <div class="column is-three-fifths is-offset-one-fifth">
                    <div class="box">
                        <div class="tabs is-boxed is-fullwidth">
                            <ul>
                                <li>
                                    <a href="/home">
                                        <span class="icon is-small"><i class="fas fa-landmark" aria-hidden="true"></i></span>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/leisuresFromUsers">
                                        <span class="icon is-small"><i class="fas fa-monument" aria-hidden="true"></i></span>
                                        <span>Leisures from Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/map">
                                        <span class="icon is-small"><i class="fas fa-map-signs" aria-hidden="true"></i></span>
                                        <span>Leisures Map</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
    <div class="hero-foot">
        <footer style="border-top: 1px solid hsl(0, 0%, 93%); padding-top: 1.7rem;">
            <div class="container">
                <div class="columns is-vcentered is-centered has-text-centered-mobile">
                    <div class="column is-narrow">
                        <strong>YATAM</strong>
                    </div>
                    <div class="column is-3">
                        <h5 class="title is-5 has-text-grey-light has-text-weight-normal is-italic">
                            Another Tourism App Malaga for differents landmarks in M&aacute;laga
                        </h5>
                    </div>
                    <div class="column is-4 is-narrow">
                        &copy; 2021 <p class="has-text-grey-darker">Grupo B3</p> Ingenier&iacute;a Web.
                        <br>
                        <i>Todos los derechos reservados.</i>
                    </div>
                    <div class="column is-narrow">
                        Sitemap
                        <ul>
                            <li><a class="has-text-grey" href="">Github Cloud</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyAFUupMm6GtIPMntKQ4W8na2HkErOmpVX4",
            authDomain: "examen-ingenieria-web-final.firebaseapp.com",
            databaseURL: "https://examen-ingenieria-web-final-default-rtdb.europe-west1.firebasedatabase.app",
            projectId: "examen-ingenieria-web-final",
            storageBucket: "examen-ingenieria-web-final.appspot.com",
            messagingSenderId: "718691861474",
            appId: "1:718691861474:web:3ff2fa418df4d55cf6afbb",
            measurementId: "G-SLMMDQSHL6"
         };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.auth().languageCode = 'es';
        function signOut() {
            firebase.auth().signOut().then(function() {
                window.location.href = '/logout';
            }).catch(function(error) {
                console.log(error);
            });
        }
    </script>
</html>