{% extends 'base.html'%}
{% block content %}
<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="box">
      <p class="title is-4 has-text-grey-darker">Create your own Leisure</p>
      <br>
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" id="name" type="text" placeholder="Name">
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label">Coordinates</label>
        <div class="control">
          <input class="input" id="coordinates" type="text" placeholder="Use , to separate lat from long e.g. xx.xx, yy.yy">
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label">Photo</label>
        <div class="control">
          <input id="photo" type="file" accept=".jpg,.png,.svg">
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label">Schedule</label>
        <div class="control">
          <input class="input" id="schedule" type="text" placeholder="Schedule">
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label">Address</label>
        <div class="control">
          <input class="input" id="address" type="text" placeholder="Address">
        </div>
      </div>
      <br>
      <div class="field">
        <label class="label">Description</label>
        <div class="control">
          <textarea class="textarea" id="description" placeholder="Description"></textarea>
        </div>
      </div>
      <br>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" onclick=crearLeisure()>Submit</button>
        </div>
        <div class="control">
          <button class="button is-primary is-light" onclick=goBack()>Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var photo = document.getElementById("photo");
  var url_photo=""
  photo.addEventListener("change", ev => {
            const formData = new FormData();
            formData.append("image", ev.target.files[0]);
            fetch("https://api.imgur.com/3/image/",{
              method:"post",
              headers:{
                Authorization:"Client-ID 812e393caa20a49"
            },
              body: formData
          }).then(data=>data.json()).then(data =>{
            url_photo = data.data.link;
          })
          });
    function crearLeisure(){
        var name = document.getElementById("name");
        var address = document.getElementById("address");
        var coordinates = document.getElementById("coordinates");
        var description = document.getElementById("description");
        var schedule = document.getElementById("schedule");
        if(name.value !== "" && address.value!=="" && coordinates.value!==""
        && url_photo!=""){
                var request = new XMLHttpRequest();
                request.onreadystatechange = () => {
                    if (request.readyState == XMLHttpRequest.DONE && request.status ==200) {
                        var key = JSON.parse(request.response)['key'];
                        window.location.href="/leisure/user?key="+key;
                    }
                };
                request.open('POST', '/leisure/create', true);
                request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded;charset=UTF-8');
                request.setRequestHeader('Access-Control-Allow-Origin', '*');
                request.send(`name=${name.value}&coordinates=${coordinates.value}&description=${description.value}&photo=${url_photo}&schedule=${schedule.value}&address=${address.value}`);
        }
    }

    function goBack(){
      window.history.back();
    }
</script>

{% endblock %}