{% extends 'base.html'%}
{% block content %}
<div class="block"></div>
<div class="columns">
  <div class="column is-2 is-offset-1">
    <div class="box">
      <aside class="menu">
        <p class="menu-label">
          Types of Leisures
        </p>
        <ul class="menu-list">
          <li><label class="checkbox">
            <input type="checkbox" name="leisures" value="USERLEISURE">
            Users Leisures
          </label></li>
        </ul>
        <br>
        <a class="button is-primary" onclick="getLeisure()">Show Leisures</a>
      </aside>
    </div>
  </div>
  <div class="column is-8">
    <div class="box">
      <div id="map" style="height: 800px"></div>
    </div>
  </div>
</div>
<br><br>

<script>
  // Map declaration

  var map = L.map('map').setView([36.72, -4.42], 13);
  var markers = new Array();
  L.tileLayer(`https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png`, {

  }).addTo(map);

  // Icons creation
  function getType(leisure) {
    let iconType = L.icon({
        iconUrl: 'static/museum.svg',
        iconSize: [30, 30],
        iconAnchor: [15, 30]
      })
    if (leisure.leisure_type !== undefined) {
      tipo = leisure.leisure_type;
      switch (tipo) {
        case "DOGPARK":
          iconType = L.icon({
            iconUrl: 'static/dogPark.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })
          break;
        case "ARTGALLERY":
          iconType = L.icon({
            iconUrl: 'static/artGallery.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })
          break;
        case "CINEMA":
          iconType = L.icon({
            iconUrl: './static/cinema.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })
          break;
        case "LIBRARY":
          iconType = L.icon({
            iconUrl: 'static/library.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })
          break;
        case "MONUMENT":
          iconType = L.icon({
            iconUrl: 'static/monument.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })
          break;
        case "THEATER":
          iconType = L.icon({
            iconUrl: 'static/theater.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })
          break;
        case "TRAINING":
          iconType = L.icon({
            iconUrl: 'static/training.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })
          break;
        default:
          break;
      }
    }else{
        iconType = L.icon({
            iconUrl: 'static/user.svg',
            iconSize: [30, 30],
            iconAnchor: [15, 30]
          })

    }
    return iconType;

  }

  // Update Map

  function deleteMarkers(){
    for(i = 0; i<markers.length;i++){
      map.removeLayer(markers[i]);
    }
  }

  function mostrarDatos(data) {
    data.map((leisure, i) =>{
      iconType = getType(leisure);

      var LamMarker = new L.marker(leisure.coordinates, {icon:iconType});
      markers.push(LamMarker);
      console.log(leisure.coordinates)
      LamMarker.addTo(map);
      if(leisure.leisure_type!==undefined) {
        LamMarker.on('click', function () {
          window.location.href = "/leisure?id="+leisure.l_id+"&type="+leisure.leisure_type;
        });
      }else{
        LamMarker.on('click', function (){
          window.location.href = "/leisure/user?key="+leisure.key;
        })
      }
    })
  }

  function getLeisure(type){
        var leisure = document.getElementsByName("leisures");
        var result = [];
        var j = 0;
        for (i = 0; i<leisure.length; i++) {
            if (leisure[i].checked) {
                result[j] = leisure[i].value;
                j++;
            }
        }
        deleteMarkers();
        for (i = 0; i < result.length; i++) {
          fetchData(result[i]);
        }
  }

  function fetchData(result) {
    if (result.lenght === 0) {
            window.location.href('/map');
        } else {
            fetch(`${window.origin}/map`,{
                method: "POST",
                body: JSON.stringify(result),
                cache: "no-cache",
                headers: new Headers({
                    "content-type": "application/json"
                })
            }).then(function (response){
                if (response.status!== 200) {
                    console.log(`Response status was not 200 ${response.status}`);
                    return ;
                }
                response.json().then(function (data){
                  mostrarDatos(data);
                })
            })
        }
  }
</script>
{% endblock %}